/*default selectors*/
header {
    background-color: #4cae4c;
    height: 100px;
    position: relative;
}

ul {
    padding: 0;
}

img {
    width: 50px;
}

li {
    margin-left: 10px;
    padding: 5px;
    list-style: none;
}

nav {
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
}

td {
    padding: 10px;
}

main {
    position: relative;
    margin-top: 20px;
}

input[title="income"] {
    border:2px solid #3c763d;
    border-radius: 5%;
}

input[title="Expense"] {
    border:2px solid #761c19;
    border-radius: 5%;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*custom classes*/

.dropdown-menu li:last-child {
    border-top: 1px solid #cccccc;
    width: 100%;
    margin: 0;
    padding-left: 15px;
}

.wrapper {
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    float: left;
}

.menu {
    float: right;
    display: inline-block;
}

.user-settings {
    display: inline;
    position: relative;
}

.number {
    font-size: 30px;
}

.add-income {
    border-left: 5px solid #3c763d;
}

.add-expense {
    border-left: 5px solid #761c19;
}

.show-categories {
    position: absolute;
    top: 0;
    height: 500px;
    display: none;
    background: #fff;
}

.main-content {
    display: inline;
}

.adding {
    font-size: 25px;
}

.income-form,.expense-form, .income, .expenses {
    visibility: hidden;
}

/*////////////////////////////////////////////////////////*/
/*utility classes*/

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    display: block;
}

#active {
    display: block;
}
.active {
    visibility: visible;
}
.inline {
    display: inline-block;
}

.absolute {
    position: absolute;
    top: 0;
}

.parent {
    position: relative;
    color: black;
}

.hiddenn {
    visibility: hidden;
}

/*////////////////////////////////////////////////////////*/
/*bootstrap classes edited */

.nav-tabs.nav-justified {
    width: 80%;
}

.user-settings:hover .dropdown-menu {
    display: block;
}

/*//////////////////////////////////////////////////////////*/
/*@medias*/