<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="js/jquery-ui-1.11.4/jquery-ui.min.css">

</head>
<body>
<header>
    <div class="wrapper container-fluid">
        <div class="logo"><img src="logo.jpg"></div>
        <div class="menu">
            <button class="btn btn-default"><a href="#" id="transactions">Transactions</a></button>
            <button class="btn btn-default"><a href="#">Graphics</a></button>
            <div class="user-settings">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="#" id="categories">Categories</a></li>
                        <li><a href="#">Account settings</a></li>
                        <li>
                            <a href="#">Log Out
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="container">
    <div class="adding">
        <button class="add-income col-md-5" id="add-income">
            <span>Add income</span>
        </button>
        <button class="add-expense col-md-5" id="add-expense">
            <span>Add Expense</span>
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="parent">
        <form class="navbar-form navbar-left col-md-7 income-form" id="income-form">
            <input type="text" placeholder="Add tag name" title="nume">
            <input type="number" title="income" placeholder="add income">
            <select title="category">
                <option disabled selected = "selected">Select Category</option>
                <option value="salary">Salary</option>
                <option value="bonus">Bonus</option>
                <option value="other">Other</option>
            </select>
            <label>Recurring
                <input type="checkbox" id="recurring-income">
            </label>
            <input type="submit" class="btn btn-default" value="Add">

            <div class="errors">
                <div class="col-md-3 hiddenn nameError"></div>
                <div class="col-md-3 hiddenn sumError"></div>
                <div class="hiddenn categoryError"></div>
                <div  id="income-date">
                    <label>Select recurring date
                        <input type="text" class="parent datepicker" title="income-date">
                    </label>
                </div>
            </div>
        </form>
        <form class="navbar-form navbar-left col-md-7 absolute expense-form" id="expense-form">
            <input type="text" placeholder="Add tag name" title="nume">
            <input type="number" title="Expense" placeholder="add expense">
            <select title="category">
                <option disabled selected= "selected">Select Category</option>
                <option value="dressing">Clothes&shoes</option>
                <option value="food">Food</option>
                <option value="transportation">Transportation</option>
                <option value="rent">Rent</option>
                <option value="utilities">Utilities</option>
                <option value="taxes">Taxes</option>
                <option value="holiday">Holiday</option>
                <option value="medical">Medical</option>
                <option value="other">Other</option>
            </select>
            <label>Recurring
                <input type="checkbox"  name="check" class="recurring-expenses">
            </label>
            <input type="submit" class="btn btn-default" value="Add">

            <div>
                <div class="col-md-3 hiddenn nameError"></div>
                <div class="col-md-3 hiddenn sumError"></div>
                <div class="hiddenn categoryError"></div>
                <div id="expense-date">
                    <label>Select recurring date
                        <input type="text" class="parent datepicker" title="expense-date">
                    </label>
                </div>
            </div>
        </form>

        <div class="clearfix"></div>
    </div>
    <div class="statistics">
        <div class="history-buttons">
            <button class="total-income col-md-5">
                <span>Total income</span>
                <span class="block number" id="income-history-panel">2000</span>
            </button>
            <button class="total-expense col-md-5">
                <span>Total expenses</span>
                <span class="block number" id="expense-history-panel">500</span>
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="history parent">
            <table class="income panel panel-default col-md-10" id="income-history">
                <thead>
                <tr>
                    <td>Income history</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>DummyDate: 30.02.2016</td>
                    <td>Dummy category name</td>
                    <td>Dummy Amount: $500</td>
                </tr>
                </tbody>
            </table>
            <table class="expenses panel panel-default absolute col-md-10" id="expense-history">
                <thead>
                <tr>
                    <td>Expenses history</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>DummyDate: 30.02.2016</td>
                    <td>Dummy category name</td>
                    <td>Dummy Amount: $-500</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="show-categories col-md-10">
        <h1>Categories</h1>
        <div class="navbar-header col-md-10">
            <form class=" form-control form-group" id="categories-form">
                <label class="block">Category Name
                    <input type="text" title="name" class="input-group">
                </label>
                <label>Category type
                    <select class="block">
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                </label>
                <input type="submit" class="input-group btn btn-default" value="Add">
            </form>
            <table class="income-categories col-md-6 panel panel-default">
                <thead>
                <tr>
                    <th>Income Name</th>
                    <th>Income Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table class="expense-categories col-md-6 panel panel-default">
                <thead>
                <tr>
                    <th>Income Name</th>
                    <th>Income Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script type="text/html" id="item_tmpl">
    <tr>
        <td>Still a dummy date</td>
        <td><%= name %></td>
    </tr>
</script>
<script type="text/html" id="item_tmpl_category">
    <tr>
        <td><%= name %></td>
        <td><%= type %></td>
        <td class="hiddenn">
            <button class="btn btn-xs btn-primary btn-save-category">Save</button>
            <button class="btn btn-xs btn-danger btn-delete-category">Delete</button>
            <button class="btn btn-xs btn-cancel-category">Cancel</button>
        </td>
    </tr>
</script>
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="js/resig.js"></script>
<script src="js/Stores/budgetsStore.js"></script>
<script src="js/Stores/transactionsStore.js"></script>
<script src="js/Stores/categoryStore.js"></script>
<script src="js/Stores/recurringStore.js"></script>
<script src="js/Services/transactionsFunctions.js"></script>
<script src="js/moments.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>